*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: $font-size-base;
    width: 100%;
}

input {
    border: none;
    outline: none;
}

body {
    direction: rtl;
    line-height: $line-height-base;
    font-family: $font-family-sans-serif;
    background-color: $body-background;
    color: $dark-color;
    height: 340rem;
}
