@font-face {
    font-family: 'Vazir';
    src: url("/fonts/Vazir.eot"),
         url("/fonts/Vazir.ttf"),
         url("/fonts/Vazir.woff"),
         url("/fonts/Vazir.woff2");
}

@font-face {
    font-family: 'Vazir-Black';
    src: url("/fonts/Vazir-Black.eot"),
    url("/fonts/Vazir-Black.ttf"),
    url("/fonts/Vazir-Black.woff"),
    url("/fonts/Vazir-Black.woff2");
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url("/fonts/Vazir-Bold.eot"),
    url("/fonts/Vazir-Bold.ttf"),
    url("/fonts/Vazir-Bold.woff"),
    url("/fonts/Vazir-Bold.woff2");
}

@font-face {
    font-family: 'Vazir-Light';
    src: url("/fonts/Vazir-Light.eot"),
    url("/fonts/Vazir-Light.ttf"),
    url("/fonts/Vazir-Light.woff"),
    url("/fonts/Vazir-Light.woff2");
}

@font-face {
    font-family: 'Vazir-Medium';
    src: url("/fonts/Vazir-Medium.eot"),
    url("/fonts/Vazir-Medium.ttf"),
    url("/fonts/Vazir-Medium.woff"),
    url("/fonts/Vazir-Medium.woff2");
}

@font-face {
    font-family: 'Vazir-Thin';
    src: url("/fonts/Vazir-Thin.eot"),
    url("/fonts/Vazir-Thin.ttf"),
    url("/fonts/Vazir-Thin.woff"),
    url("/fonts/Vazir-Thin.woff2");
}


// Number

@font-face {
    font-family: 'Vazir';
    src: url("/fonts/farsi-number/Vazir-FD.eot"),
    url("/fonts/farsi-number/Vazir-FD.ttf"),
    url("/fonts/farsi-number/Vazir-FD.woff"),
    url("/fonts/farsi-number/Vazir-FD.woff2");
}

@font-face {
    font-family: 'Vazir-Black-Fd‌';
    src: url("/fonts/Vazir-Black-FD.eot"),
    url("/fonts/farsi-number/Vazir-Black-FD.ttf"),
    url("/fonts/farsi-number/Vazir-Black-FD.woff"),
    url("/fonts/farsi-number/Vazir-Black-FD.woff2");
}

@font-face {
    font-family: 'Vazir-Bold-Fd';
    src: url("/fonts/farsi-number/Vazir-Bold-FD.eot"),
    url("/fonts/farsi-number/Vazir-Bold-FD.ttf"),
    url("/fonts/farsi-number/Vazir-Bold-FD.woff"),
    url("/fonts/farsi-number/Vazir-Bold-FD.woff2");
}

@font-face {
    font-family: 'Vazir-Light-Fd';
    src: url("/fonts/farsi-number/Vazir-Light-FD.eot"),
    url("/fonts/farsi-number/Vazir-Light-FD.ttf"),
    url("/fonts/farsi-number/Vazir-Light-FD.woff"),
    url("/fonts/farsi-number/Vazir-Light-FD.woff2");
}

@font-face {
    font-family: 'Vazir-Medium-Fd';
    src: url("/fonts/farsi-number/Vazir-Medium-FD.eot"),
    url("/fonts/farsi-number/Vazir-Medium-FD.ttf"),
    url("/fonts/farsi-number/Vazir-Medium-FD.woff"),
    url("/fonts/farsi-number/Vazir-Medium-FD.woff2");
}

@font-face {
    font-family: 'Vazir-Thin-Fd';
    src: url("/fonts/farsi-number/Vazir-Thin-FD.eot"),
    url("/fonts/farsi-number/Vazir-Thin-FD.ttf"),
    url("/fonts/farsi-number/Vazir-Thin-FD.woff"),
    url("/fonts/farsi-number/Vazir-Thin-FD.woff2");
}
