// Typography
$font-family-sans-serif: 'Vazir-Light', sans-serif;
$font-size-base: 62.5%;
$line-height-base: 1.6;

// Colors
$body-background: #f5f4f9;

$white-color: #ffffff;
$black-color: #000000;
$dark-color: #161616;

$light-gray-color: #DCDCDC;
$gray-color: #C0C0C0;
$dark-gray-color: #808080;

$primary-color: #713DFF;
$hover-link-color: #200077;

$yellow-color: #fdb916;

$primary-color-rgba: rgba(113, 61, 255, 0.8);
