// Typography
$font-family-sans-serif: 'Vazir-Light', sans-serif;
$font-size-base: 62.5%;
$line-height-base: 1.6;

// Colors
$white-color: #ffffff;
$primary-color: #713DFF;
$hover-link-color: #200077;
